{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="section section-product">
    <div class="imagenes">
        <div class="min-imagenes">
            <div class="min-imagen">
                <img class="im-min active" src="{{ producto.imagen.url }}" alt="">
            </div>
            {% if producto.imagen2 %}
                <div class="min-imagen">
                    <img class="im-min" src="{{ producto.imagen2.url }}" alt="">
                </div>
            {% endif %}
            {% if producto.imagen3 %}
            <div class="min-imagen">
                <img class="im-min" src="{{ producto.imagen3.url }}" alt="">
            </div>
            {% endif %}
            {% if producto.imagen4 %}
            <div class="min-imagen">
                <img class="im-min" src="{{ producto.imagen4.url }}" alt="">
            </div>
            {% endif %}
            
        </div>
        <div class="imagen">
            <img class="img_max" src="{{ producto.imagen.url }}" alt="">
        </div>    
    </div>
    <div class="informacion">
        <h2>{{ producto.nombre }}</h2>
        <p><b>Marca: </b>{{ producto.marca }}</p> 
        {% if producto.num_disponibles > 0%}
        <h3>{{ producto.precio }}$</h3>
        <form method="get" class="anadir">
            <input type="hidden" name="product_id" value="{{ producto.id }}">
            <input id="input-number" type="number" name="cantidad" value="1" min="1" max="{{ producto.num_disponibles }}">  
            <span>x</span> 
            <button type="submit" class="btn-anadir">Comprar</button>    
        </form>
        <p>*Debes iniciar sesión</p>
        {% else %}
        <div class="agotado">
            <h4>Agotado</h4>
        </div>
        {% endif %}
    </div>    
</section>
<div class="separador"></div>
<section class="section sect-productos-relacionados">
    <h1>Productos Relacionados</h1>
    <div class="productos">
        {% for producto in productos_relacionados %}
        <a class="producto" href={% url 'product' id=producto.id %}>
            <div class="imagen">
                <img src="{{ producto.imagen.url }}" alt="">
            </div>
            <div class="informacion">
                <h2>{{ producto.nombre }}</h2>
                {% if producto.num_disponibles > 0 %}
                <p class="precio">{{ producto.precio }}$</p>
                {% else %}
                <p class="precio">AGOTADO</p>
                {% endif %}
               
            </div>
        </a>
        {% endfor %}   
    </div>
</section>
{% endblock content %}