.header {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
}
.header .brand {
  display: flex;
  width: 80px;
}
.header .brand img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header .form-search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid hsl(0, 0%, 80%);
  background-color: #fff;
}
.header .form-search .button-search {
  background-color: #000;
  display: flex;
  padding: 0.25rem;
  align-items: center;
  border: 1px solid #000;
}
.header .form-search .input {
  font-size: 0.875rem;
  padding: 0.5rem;
  border: 1px solid #000;
  width: 100%;
}
.header .form-search .input:focus {
  outline: none;
}
@media (min-width: 600px) {
  .header .form-search {
    position: static;
    border: none;
    padding: 0;
    width: 50%;
    max-width: 600px;
  }
}
.header .user-options,
.header .nav-options {
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.header .user-options .user-icon,
.header .user-options .cart-icon,
.header .nav-options .user-icon,
.header .nav-options .cart-icon {
  cursor: pointer;
}
.header .user-options .user-menu,
.header .nav-options .user-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  background-color: #fff;
  border: 1px solid #000;
  min-width: 180px;
  box-shadow: -2px 4px 0 #000;
}
.header .user-options .user-menu a,
.header .nav-options .user-menu a {
  text-wrap: nowrap;
  text-decoration: none;
  color: #000;
  padding: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.header .user-options .user-menu a:hover,
.header .nav-options .user-menu a:hover {
  background-color: hsl(0, 0%, 90%);
}
@media (max-width: 600px) {
  .header .user-options .user-menu,
  .header .nav-options .user-menu {
    width: calc(100vw - 2rem);
    max-width: 480px;
  }
}
.header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #000;
  border-top: 1px solid hsl(0, 0%, 80%);
}
.header .navbar .nav-link {
  padding: 0.75rem;
  width: 100%;
  font-size: 0.875rem;
  color: #000;
  text-decoration: none;
}
@media (min-width: 600px) {
  .header .navbar {
    position: static;
    flex-direction: row;
    border: none;
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  .header .navbar .nav-link {
    padding: 0.25rem;
    width: auto;
    font-weight: 600;
    border-bottom: 2px solid transparent;
  }
  .header .navbar .nav-link:hover {
    border-bottom: 2px solid #000;
  }
}

.section-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3rem);
  padding: 1rem;
  position: relative;
}
.section-login .background-image {
  position: absolute;
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.section-login .background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-login .login {
  padding: 2rem;
  border: 1px solid #000;
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  box-shadow: -2px 4px 0 #000;
}
.section-login .login h3 {
  margin: 0;
  margin-bottom: 1rem;
}
.section-login .login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-login .login-form .label {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.section-login .login-form .input {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
  border: 1px solid hsl(0, 0%, 60%);
}
.section-login .login-form .input:focus {
  outline: none;
  border: solid 1px #000;
}
.section-login .login-form .error {
  margin: 0;
}
.section-login .login-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-login .login-buttons .button {
  cursor: pointer;
  display: block;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.75rem;
  box-shadow: 0 0 0 #000;
  transition: all 0.2s;
}
.section-login .login-buttons .button:hover {
  box-shadow: -2px 4px 0 #000;
}
.section-login .login-buttons hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 60%);
}
.section-login .login-buttons .login-button {
  background-color: #fff;
  border: 1px solid #000;
}
.section-login .login-buttons .signup-button {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
@media (min-width: 600px) {
  .section-login {
    min-height: calc(100vh - 7rem);
  }
}

.section-product-list {
  padding: 2rem 1rem;
  max-width: 480px;
  margin: auto;
}
.section-product-list h2 {
  margin-bottom: 1.5rem;
}
.section-product-list .product-list {
  display: grid;
  gap: 1rem;
}
.section-product-list .product-list .product {
  width: 100%;
  border: 1px solid #000;
  overflow: hidden;
  max-width: calc(480px - 2rem);
  color: #000;
  text-decoration: none;
  box-shadow: 0 0 0 #000;
  transition: all 0.2s;
}
.section-product-list .product-list .product .product-image {
  display: flex;
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  max-width: calc(480px - 2rem);
  max-height: calc(480px - 2rem);
}
.section-product-list .product-list .product .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-product-list .product-list .product .product-info {
  padding: 1rem;
}
.section-product-list .product-list .product .product-info .product-name {
  margin: 0;
  margin-bottom: 0.5rem;
}
.section-product-list .product-list .product .product-info p {
  margin: 0;
  font-size: 0.875rem;
}
.section-product-list .product-list .product .product-info .product-color {
  margin-bottom: 0.5rem;
}
.section-product-list .product-list .product .product-info .price {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
}
.section-product-list .product-list .product .product-info .price .product-price {
  text-decoration: line-through;
  color: hsl(0, 0%, 30%);
  font-weight: 600;
}
.section-product-list .product-list .product .product-info .price .product-discount {
  color: #980000;
}
.section-product-list .product-list .product .product-info .price .product-price-total {
  font-size: 1.25rem;
}
.section-product-list .product-list .product:hover {
  box-shadow: -4px 4px 0 #000;
}
@media (min-width: 768px) {
  .section-product-list .product-list {
    grid-template-columns: 1fr 1fr;
  }
  .section-product-list .product-list .product-image {
    width: calc(50vw - 1.5rem) !important;
    height: calc(50vw - 1.5rem) !important;
  }
}
@media (min-width: 992px) {
  .section-product-list .product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-product-list .product-list .product-image {
    width: calc(33vw - 1.25rem) !important;
    height: calc(33vw - 1.25rem) !important;
  }
}
@media (min-width: 1200px) {
  .section-product-list .product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .section-product-list .product-list .product-image {
    width: calc(25vw - 4.75rem) !important;
    height: calc(25vw - 4.75rem) !important;
  }
}
@media (min-width: 768px) {
  .section-product-list {
    max-width: 912px;
  }
}
@media (min-width: 992px) {
  .section-product-list {
    max-width: none;
  }
}
@media (min-width: 1200px) {
  .section-product-list {
    padding: 2rem 8rem;
  }
}

.section-product {
  padding: 2rem 1rem;
  max-width: 480px;
  margin: auto;
}
.section-product .product {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
}
.section-product .product .category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}
.section-product .product .category a {
  font-weight: 700;
  color: hsl(0, 0%, 60%);
}
.section-product .product .header-xs {
  margin: 0 0 0.25rem 0;
}
.section-product .product .header-md {
  display: none;
}
.section-product .product-image {
  margin-bottom: 1rem;
}
.section-product .product-image .main-product-image {
  display: flex;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.section-product .product-image .main-product-image img {
  width: calc(100vw - 2rem);
  height: calc(100vw - 2rem);
  max-width: calc(480px - 2rem);
  max-height: calc(480px - 2rem);
  object-fit: cover;
}
.section-product .selector-product-images,
.section-product .selector-product-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
.section-product .selector-product-images .selector-image,
.section-product .selector-product-images a,
.section-product .selector-product-colors .selector-image,
.section-product .selector-product-colors a {
  display: flex;
}
.section-product .selector-product-images img,
.section-product .selector-product-colors img {
  width: calc((100vw - 2.375rem) / 4);
  height: calc((100vw - 2.375rem) / 4);
  max-width: calc((480px - 2.375rem) / 4);
  max-height: calc((480px - 2.375rem) / 4);
  object-fit: cover;
}
.section-product .selector-product-colors {
  margin-bottom: 1rem;
}
.section-product .product-info .price {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
.section-product .product-info .price .product-price {
  text-decoration: line-through;
  color: hsl(0, 0%, 30%);
  font-weight: 600;
  font-size: 1rem;
}
.section-product .product-info .price .product-discount {
  color: #980000;
  font-size: 0.8125rem;
  font-weight: 800;
}
.section-product .product-info .price .product-price-total {
  font-size: 1.25rem;
  font-weight: 700;
}
.section-product .product-info b {
  font-weight: 700;
}
.section-product .product-info .field-name {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.section-product .product-info .selector-product-size {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  margin-bottom: 3rem;
}
.section-product .product-info .selector-product-size .button-size {
  width: 100%;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.section-product .form-order-create .form-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.section-product .form-order-create .form-quantity .extra-quantity {
  font-weight: 600;
  color: hsl(0, 0%, 30%);
  font-size: 0.8125rem;
}
.section-product .form-order-create .form-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-product .form-order-create .form-field label {
  font-size: 0.875rem;
  font-weight: 700;
}
.section-product .form-order-create .form-field select {
  appearance: base-select;
  border: none;
  cursor: pointer;
}
.section-product .form-order-create .button-add-to-cart {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #000;
  outline: 1px solid #fff;
  width: 100%;
  padding: 0.75rem;
}
.section-product .form-order-create .button-add-to-cart:hover {
  box-shadow: -3px 5px 0 #000;
}
@media (min-width: 768px) {
  .section-product {
    max-width: 1200px;
    /*max-width: none;

    .header-xs {
        display: none;
    }

    .header-md {
        display: block !important;
        margin: 0;
        margin-bottom: 1rem;
    }

    .product {
        grid-template-columns: repeat(2, minmax(0, calc($sm - 1rem)));
    }

    .product-image {

        .main-product-image {
            img {
                width: calc(50vw - 1.5rem);
                height: calc(50vw - 1.5rem);
                max-width: calc($sm - 1rem);
                max-height: calc($sm - 1rem);
            }
        }
    }

    .selector-product-images,
    .selector-product-colors {

        grid-template-columns: repeat(6, minmax(0, calc($sm/6)));

        img {
            width: calc((50vw - 4rem)/6);
            height: calc((50vw - 4rem)/6);
            max-width: calc($sm/6 - 0.5rem);
            max-height: calc($sm/6 - 0.5rem);
        }
    }

    .price {
        justify-content: start !important;
    }*/
  }
  .section-product h2 {
    margin: 0 0 1rem 0;
  }
  .section-product .category {
    grid-column: span 2;
  }
  .section-product .product {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .section-product .product .header-xs {
    display: none;
  }
  .section-product .product .header-md {
    display: block;
  }
  .section-product .product-image .main-product-image img {
    width: calc((100vw - 3.5rem) / 2);
    height: calc((100vw - 3.5rem) / 2);
    max-width: calc((1200px - 3.5rem) / 2);
    max-height: calc((1200px - 3.5rem) / 2);
  }
  .section-product .selector-product-images,
  .section-product .selector-product-colors {
    grid-template-columns: repeat(6, 1fr);
  }
  .section-product .selector-product-images img,
  .section-product .selector-product-colors img {
    width: calc((100vw - 4.75rem) / 12);
    height: calc((100vw - 4.75rem) / 12);
    max-width: calc((1200px - 4.75rem) / 12);
    max-height: calc((1200px - 4.75rem) / 12);
    object-fit: cover;
  }
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.button {
  text-align: center;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .hidden-sm {
    display: none !important;
  }
}

p {
  margin: 0;
}

a {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
