<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
	<title>MiTiendaOnline</title>
</head>
<body>
	
	{% include 'core/header.html' %}

	{% block content %}{% endblock content %}

	<footer class="footer">
		<p>MiTiendaOnline | Todos Los Derechos Reservados</p>
	</footer>
	<script src="{% static 'app.js' %}"></script>

</body>
</html>