@use '../variables' as *;

.section-login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;

    .login {
        padding: 2rem;
        border: 1px solid $black;
        width: 100%;
        max-width: 480px;
        background-color: $white;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.5rem;

        .label {
            display: block;
            font-size: 0.875rem;
            font-weight: 700;
            margin-bottom: 0.5rem;

        }

        .input {
            width: 100%;
            padding: 0.75rem;
            font-size: 0.875rem;
            border: 1px solid $gray-400;

            &:focus {
                outline: none;
                border: solid 1px $black;
            }
        }
        .error {
            margin: 0;
        }
    }

    .login-buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .button {
            cursor: pointer;
            display: block;
            width: 100%;
            font-size: 0.875rem;
            font-weight: 700;
            padding: 0.75rem;
            box-shadow: 0 0 0 $black;
            transition: all 0.2s;

            &:hover {
                box-shadow: -2px 4px 0 $black;
            }
        }

        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid $gray-400;
        }

        .login-button {
            background-color: $white;
            border: 1px solid $black;
        }

        .signup-button {
            background-color: $black;
            border: 1px solid $white;
            color: $white;
        }

    }
}